src/security-server/admin-service/application/src/test/resources/wsdl/error.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://producer.x-road.eu"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:tns="http://producer.x-road.eu"
        xmlns:xrd="http://x-road.eu/xsd/xroad.xsd"
        xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
        xmlns:xmime="http://www.w3.org/2005/05/xmlmime"
        xmlns:ref="http://ws-i.org/profiles/basic/1.1/xsd"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <wsdl:types>
        <xs:schema targetNamespace="http://producer.x-road.eu"
                xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:import namespace="http://x-road.eu/xsd/xroad.xsd"
                    schemaLocation="http://x-road.eu/xsd/xroad.xsd" />
            <xs:import namespace="http://ws-i.org/profiles/basic/1.1/xsd"
                    schemaLocation="http://ws-i.org/profiles/basic/1.1/swaref.xsd" />
            <xs:import namespace="http://www.w3.org/2005/05/xmlmime"
                    schemaLocation="http://www.w3.org/2005/05/xmlmime" />
            <xs:element name="mock">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="" type="xs:string"
                                minOccurs="0">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xrd:title>Requests a specific
                                            response</xrd:title>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="data" type="xs:string" minOccurs="0">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xrd:title>Any data</xrd:title>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="xml" type="xs:anyType" minOccurs="0">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xrd:title>Any XML content</xrd:title>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="mockResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="data" type="xs:string" minOccurs="0">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xrd:title>Any data</xrd:title>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="xml" type="xs:anyType" minOccurs="0">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xrd:title>Any XML content</xrd:title>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="mockSwaRef">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="desiredResponse" type="xs:string"
                                minOccurs="0">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xrd:title>Requests a specific
                                            response</xrd:title>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="data" type="xs:string" minOccurs="0">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xrd:title>Any data</xrd:title>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="xml" type="xs:anyType" minOccurs="0">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xrd:title>Any XML content</xrd:title>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="mockAttachment" type="ref:swaRef"
                                 minOccurs="0">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xrd:title>Attachment (with swaRef
                                            description)</xrd:title>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="mockSwaRefResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="data" type="xs:string" minOccurs="0">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xrd:title>Any data</xrd:title>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="xml" type="xs:anyType" minOccurs="0">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xrd:title>Any XML content</xrd:title>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="mockAttachment" type="ref:swaRef"
                                 minOccurs="0">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xrd:title>Attachment (with swaRef
                                            description)</xrd:title>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="mockMtom">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="desiredResponse" type="xs:string"
                                minOccurs="0">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xrd:title>Requests a specific
                                            response</xrd:title>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="data" type="xs:string" minOccurs="0">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xrd:title>Any data</xrd:title>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="xml" type="xs:anyType" minOccurs="0">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xrd:title>Any XML content</xrd:title>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="mockAttachment"
                                type="xs:base64Binary"
                                xmime:expectedContentTypes="application/octet-stream"
                                minOccurs="0">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xrd:title>MTOM Attachment</xrd:title>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="mockMtomResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="data" type="xs:string" minOccurs="0">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xrd:title>Any data</xrd:title>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="xml" type="xs:anyType" minOccurs="0">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xrd:title>Any XML content</xrd:title>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="mockAttachment"
                                type="xs:base64Binary"
                                xmime:expectedContentTypes="application/octet-stream"
                                minOccurs="0">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xrd:title>MTOM Attachment</xrd:title>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>

    <wsdl:message name="mock">
        <wsdl:part name="mock" element="tns:mock" />
    </wsdl:message>
    <wsdl:message name="mockResponse">
        <wsdl:part name="mockResponse" element="tns:mockResponse" />
    </wsdl:message>

    <wsdl:message name="mockSwaRef">
        <wsdl:part name="mockSwaRef" element="tns:mockSwaRef" />
    </wsdl:message>
    <wsdl:message name="mockSwaRefResponse">
        <wsdl:part name="mockSwaRefResponse"
                element="tns:mockSwaRefResponse" />
    </wsdl:message>

    <wsdl:message name="mockMtom">
        <wsdl:part name="mockMtom" element="tns:mockMtom" />
    </wsdl:message>
    <wsdl:message name="mockMtomResponse">
        <wsdl:part name="mockMtomResponse" element="tns:mockMtomResponse" />
    </wsdl:message>

    <wsdl:message name="requestHeader">
        <wsdl:part name="client" element="xrd:client" />
        <wsdl:part name="service" element="xrd:service" />
        <wsdl:part name="id" element="xrd:id" />
        <wsdl:part name="userId" element="xrd:userId" />
        <wsdl:part name="issue" element="xrd:issue" />
        <wsdl:part name="protocolVersion" element="xrd:protocolVersion" />
    </wsdl:message>

    <wsdl:portType name="mockPort">
        <wsdl:operation name="mock">
            <wsdl:documentation>
                <xrd:title>Title of exampleService</xrd:title>
                <xrd:notes>Technical notes for exampleService:
                        This is a simple SOAP service.</xrd:notes>
            </wsdl:documentation>
            <wsdl:input name="mock" message="tns:mock" />
            <wsdl:output name="mockResponse"
                    message="tns:mockResponse" />
        </wsdl:operation>

        <wsdl:operation name="mockSwaRef">
            <wsdl:documentation>
                <xrd:title>Title of mockSwaRef</xrd:title>
                <xrd:notes>Technical notes for exampleServiceSwaRef:
                        This is a SOAP service with
                        swaRef attachment.</xrd:notes>
            </wsdl:documentation>
            <wsdl:input name="mockSwaRef"
                    message="tns:mockSwaRef" />
            <wsdl:output name="mockSwaRefResponse"
                    message="tns:mockSwaRefResponse" />
        </wsdl:operation>

        <wsdl:operation name="mockMtom">
            <wsdl:documentation>
                <xrd:title>Title of exampleServiceMtom</xrd:title>
                <xrd:notes>Technical notes for exampleServiceMtom:
                        This is a SOAP service with
                        MTOM attachment.</xrd:notes>
            </wsdl:documentation>
            <wsdl:input name="mockMtom"
                    message="tns:mockMtom" />
            <wsdl:output name="mockMtomResponse"
                    message="tns:mockMtomResponse" />
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="mockPortSoap11"
            type="tns:mockPort">
        <soap:binding style="document"
                transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="mock">
            <soap:operation soapAction="" style="document" />
            <xrd:version>v1</xrd:version>
            <wsdl:input name="mock">
                <soap:body use="literal" />
                <soap:header message="tns:requestHeader"
                        part="client" use="literal" />
                <soap:header message="tns:requestHeader"
                        part="service" use="literal" />
                <soap:header message="tns:requestHeader"
                        part="id" use="literal" />
                <soap:header message="tns:requestHeader"
                        part="userId" use="literal" />
                <soap:header message="tns:requestHeader"
                        part="issue" use="literal" />
                <soap:header message="tns:requestHeader"
                        part="protocolVersion" use="literal"/>
            </wsdl:input>
            <wsdl:output name="mockResponse">
                <soap:body use="literal" />
                <soap:header message="tns:requestHeader"
                        part="client" use="literal" />
                <soap:header message="tns:requestHeader"
                        part="service" use="literal" />
                <soap:header message="tns:requestHeader"
                        part="id" use="literal" />
                <soap:header message="tns:requestHeader"
                        part="userId" use="literal" />
                <soap:header message="tns:requestHeader"
                        part="issue" use="literal" />
                <soap:header message="tns:requestHeader"
                        part="protocolVersion" use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="mockSwaRef">
            <soap:operation soapAction="" style="document" />
            <xrd:version>v1</xrd:version>
            <wsdl:input>
                <mime:multipartRelated>
                    <mime:part>
                        <soap:body use="literal" />
                        <soap:header message="tns:requestHeader"
                                part="client" use="literal" />
                        <soap:header message="tns:requestHeader"
                                part="service" use="literal" />
                        <soap:header message="tns:requestHeader"
                                part="id" use="literal" />
                        <soap:header message="tns:requestHeader"
                                part="userId" use="literal" />
                        <soap:header message="tns:requestHeader"
                                part="issue" use="literal" />
                        <soap:header message="tns:requestHeader"
                                part="protocolVersion" use="literal" />
                    </mime:part>
                </mime:multipartRelated>
            </wsdl:input>
            <wsdl:output>
                <mime:multipartRelated>
                    <mime:part>
                        <soap:body use="literal" />
                        <soap:header message="tns:requestHeader"
                                part="client" use="literal" />
                        <soap:header message="tns:requestHeader"
                                part="service" use="literal" />
                        <soap:header message="tns:requestHeader"
                                part="id" use="literal" />
                        <soap:header message="tns:requestHeader"
                                part="userId" use="literal" />
                        <soap:header message="tns:requestHeader"
                                part="issue" use="literal" />
                        <soap:header message="tns:requestHeader"
                                part="protocolVersion" use="literal" />
                    </mime:part>
                </mime:multipartRelated>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="mockMtom">
            <soap:operation soapAction="" style="document" />
            <xrd:version>v1</xrd:version>
            <wsdl:input>
                <!-- MTOM does not require MIME description -->
                <soap:body use="literal" />
                <soap:header message="tns:requestHeader"
                        part="client" use="literal" />
                <soap:header message="tns:requestHeader"
                        part="service" use="literal" />
                <soap:header message="tns:requestHeader"
                        part="id" use="literal" />
                <soap:header message="tns:requestHeader"
                        part="userId" use="literal" />
                <soap:header message="tns:requestHeader"
                        part="issue" use="literal" />
                <soap:header message="tns:requestHeader"
                        part="protocolVersion" use="literal" />
            </wsdl:input>
            <wsdl:output>
                <!-- MTOM does not require MIME description -->
                <soap:body use="literal"/>
                <soap:header message="tns:requestHeader"
                        part="client" use="literal" />
                <soap:header message="tns:requestHeader"
                        part="service" use="literal" />
                <soap:header message="tns:requestHeader"
                        part="id" use="literal" />
                <soap:header message="tns:requestHeader"
                        part="userId" use="literal" />
                <soap:header message="tns:requestHeader"
                        part="issue" use="literal" />
                <soap:header message="tns:requestHeader"
                        part="protocolVersion" use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="asd">
        <wsdl:port name="mockPortSoap11"
                binding="tns:mockPortSoap11">
            <soap:address location="http://xroad-lxd-web.lxd:8088/xrd-mock" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
