xtee6/systemtest/op-monitoring/mock/operational_monitoring_mock_service.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions name="xroadGetRandom" targetNamespace="http://producer.x-road.eu" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xrd="http://x-road.ee/xsd/x-road.xsd" xmlns:tns="http://producer.x-road.eu" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xroad="http://x-road.eu/xsd/xroad.xsd" xmlns:swi="http://ws-i.org/profiles/basic/1.1/xsd">
   <wsdl:types>
      <!--Schema for identifiers (reduced)-->
      <xsd:schema elementFormDefault="qualified" targetNamespace="http://x-road.eu/xsd/identifiers" xmlns="http://x-road.eu/xsd/identifiers">
         <xsd:complexType name="XRoadIdentifierType">
            <xsd:annotation>
               <xsd:documentation>Globally unique identifier in the
                        X-Road 6.0 system. Identifier consists of object type
                        specifier and list of hierarchical codes
                        (starting with code that identifiers the X-Road 6.0
                        instance).</xsd:documentation>
            </xsd:annotation>
            <xsd:sequence>
               <xsd:element minOccurs="0" ref="xRoadInstance"/>
               <xsd:element minOccurs="0" ref="memberClass"/>
               <xsd:element minOccurs="0" ref="memberCode"/>
               <xsd:element minOccurs="0" ref="subsystemCode"/>
               <xsd:element minOccurs="0" ref="serverCode"/>
               <xsd:element minOccurs="0" ref="serviceCode"/>
               <xsd:element minOccurs="0" ref="serviceVersion"/>
            </xsd:sequence>
            <xsd:attribute ref="objectType" use="required"/>
         </xsd:complexType>
         <xsd:simpleType name="XRoadObjectType">
            <xsd:annotation>
               <xsd:documentation>Enumeration for X-Road 6.0 identifier
                        types that can be used in requests.</xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:string">
               <xsd:enumeration value="MEMBER"/>
               <xsd:enumeration value="SUBSYSTEM"/>
               <xsd:enumeration value="SERVER"/>
               <xsd:enumeration value="SERVICE"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:element name="xRoadInstance" type="xsd:string">
            <xsd:annotation>
               <xsd:documentation>Identifies the X-Road 6.0 instance.
                        This field is applicable to all identifier
                        types.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="memberClass" type="xsd:string">
            <xsd:annotation>
               <xsd:documentation>Type of the member (company,
                        government institution, private person, etc.)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="memberCode" type="xsd:string">
            <xsd:annotation>
               <xsd:documentation>Code that uniquely identifies a
                        member of given member type.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="subsystemCode" type="xsd:string">
            <xsd:annotation>
               <xsd:documentation>Code that uniquely identifies a
                        subsystem of given X-Road 6.0 member.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="serviceCode" type="xsd:string">
            <xsd:annotation>
               <xsd:documentation>Code that uniquely identifies a
                        service offered by given X-Road 6.0 member or
                        subsystem.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="serviceVersion" type="xsd:string">
            <xsd:annotation>
               <xsd:documentation>Version of the service.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="serverCode" type="xsd:string">
            <xsd:annotation>
               <xsd:documentation>Code that uniquely identifies
                        security server offered by a given X-Road 6.0 member
                        or subsystem.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:attribute name="objectType" type="XRoadObjectType"/>
         <xsd:complexType name="XRoadClientIdentifierType">
            <xsd:complexContent>
               <xsd:restriction base="XRoadIdentifierType">
                  <xsd:sequence>
                     <xsd:element ref="xRoadInstance"/>
                     <xsd:element ref="memberClass"/>
                     <xsd:element ref="memberCode"/>
                     <xsd:element minOccurs="0" ref="subsystemCode"/>
                  </xsd:sequence>
               </xsd:restriction>
            </xsd:complexContent>
         </xsd:complexType>
         <xsd:complexType name="XRoadServiceIdentifierType">
            <xsd:complexContent>
               <xsd:restriction base="XRoadIdentifierType">
                  <xsd:sequence>
                     <xsd:element ref="xRoadInstance"/>
                     <xsd:element ref="memberClass"/>
                     <xsd:element ref="memberCode"/>
                     <xsd:element minOccurs="0" ref="subsystemCode"/>
                     <xsd:element ref="serviceCode"/>
                     <xsd:element minOccurs="0" ref="serviceVersion"/>
                  </xsd:sequence>
               </xsd:restriction>
            </xsd:complexContent>
         </xsd:complexType>
         <xsd:complexType name="XRoadSecurityServerIdentifierType">
            <xsd:complexContent>
               <xsd:restriction base="XRoadIdentifierType">
                  <xsd:sequence>
                     <xsd:element ref="xRoadInstance"/>
                     <xsd:element ref="memberClass"/>
                     <xsd:element ref="memberCode"/>
                     <xsd:element ref="serverCode"/>
                  </xsd:sequence>
               </xsd:restriction>
            </xsd:complexContent>
         </xsd:complexType>
      </xsd:schema>
      <!--Testservice-specific Schema-->
      <xsd:schema targetNamespace="http://x-road.eu/xsd/xroad.xsd" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://x-road.eu/xsd/xroad.xsd" xmlns:id="http://x-road.eu/xsd/identifiers">
         <xsd:import namespace="http://x-road.eu/xsd/identifiers" id="id"/>
         <!--Header fields-->
         <xsd:element name="client" type="id:XRoadClientIdentifierType"/>
         <xsd:element name="service" type="id:XRoadServiceIdentifierType"/>
         <xsd:element name="userId" type="xsd:string"/>
         <xsd:element name="id" type="xsd:string"/>
         <xsd:element name="protocolVersion" type="xsd:string"/>
         <xsd:element name="xroadGetRandom">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="request">
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="seed" type="xsd:decimal">
                              <xsd:annotation>
                                 <xsd:appinfo>
                                    <xrd:title>Random input</xrd:title>
                                 </xsd:appinfo>
                              </xsd:annotation>
                           </xsd:element>
						   <xsd:element name="XXX" type="swi:swaRef"/>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="xroadGetRandomResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="response">
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="content" type="xsd:decimal">
                              <xsd:annotation>
                                 <xsd:appinfo>
                                    <xrd:title>Random
                                                    response</xrd:title>
                                 </xsd:appinfo>
                              </xsd:annotation>
                           </xsd:element>
						   <xsd:element name="XXX" type="swi:swaRef"/>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="bodyMassIndex">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="request">
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="height" type="xsd:decimal">
                              <xsd:annotation>
                                 <xsd:appinfo>
                                    <xrd:title>Height in cm</xrd:title>
                                 </xsd:appinfo>
                              </xsd:annotation>
                           </xsd:element>
                           <xsd:element name="weight" type="xsd:decimal">
                              <xsd:annotation>
                                 <xsd:appinfo>
                                    <xrd:title>Weight in kg</xrd:title>
                                 </xsd:appinfo>
                              </xsd:annotation>
                           </xsd:element>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="bodyMassIndexResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="response">
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="bodyMassIndex" type="xsd:decimal">
                              <xsd:annotation>
                                 <xsd:appinfo>
                                    <xrd:title>Body mass
                                                    index response</xrd:title>
                                 </xsd:appinfo>
                              </xsd:annotation>
                           </xsd:element>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="requestheader">
      <wsdl:part name="client" element="xroad:client"/>
      <wsdl:part name="service" element="xroad:service"/>
      <wsdl:part name="userId" element="xroad:userId"/>
      <wsdl:part name="id" element="xroad:id"/>
      <wsdl:part name="protocolVersion" element="xroad:protocolVersion"/>
   </wsdl:message>
   <wsdl:message name="xroadGetRandom">
      <wsdl:part name="body" element="xroad:xroadGetRandom"/>
   </wsdl:message>
   <wsdl:message name="xroadGetRandomResponse">
      <wsdl:part name="body" element="xroad:xroadGetRandomResponse"/>
   </wsdl:message>
   <wsdl:message name="bodyMassIndex">
      <wsdl:part name="body" element="xroad:bodyMassIndex"/>
   </wsdl:message>
   <wsdl:message name="bodyMassIndexResponse">
      <wsdl:part name="body" element="xroad:bodyMassIndexResponse"/>
   </wsdl:message>
   <wsdl:portType name="xroadPortType">
      <wsdl:operation name="xroadGetRandom">
         <wsdl:documentation>
            <xrd:title>Suvaline sisend document/literal stiilis</xrd:title>
            <xrd:notes>Suvalisele sisendile tuleb ka suvaline
                    vastus.</xrd:notes>
         </wsdl:documentation>
         <wsdl:input message="tns:xroadGetRandom"/>
         <wsdl:output message="tns:xroadGetRandomResponse"/>
      </wsdl:operation>
      <wsdl:operation name="bodyMassIndex">
         <wsdl:documentation>
            <xrd:title>Arvutatakse välja kehamassiindeks</xrd:title>
            <xrd:notes>Sisenditeks pikkus (cm) ja kaal (kg).</xrd:notes>
         </wsdl:documentation>
         <wsdl:input message="tns:bodyMassIndex"/>
         <wsdl:output message="tns:bodyMassIndexResponse"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="xroadBinding" type="tns:xroadPortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="xroadGetRandom">
         <soap:operation soapAction="" style="document"/>
         <xrd:version>v1</xrd:version>
         <wsdl:input>
            <soap:body use="literal"/>
            <soap:header message="tns:requestheader" part="client" use="literal"/>
            <soap:header message="tns:requestheader" part="service" use="literal"/>
            <soap:header message="tns:requestheader" part="userId" use="literal"/>
            <soap:header message="tns:requestheader" part="id" use="literal"/>
            <soap:header message="tns:requestheader" part="protocolVersion" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
            <soap:header message="tns:requestheader" part="client" use="literal"/>
            <soap:header message="tns:requestheader" part="service" use="literal"/>
            <soap:header message="tns:requestheader" part="userId" use="literal"/>
            <soap:header message="tns:requestheader" part="id" use="literal"/>
            <soap:header message="tns:requestheader" part="protocolVersion" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="bodyMassIndex">
         <soap:operation soapAction="" style="document"/>
         <xrd:version>v1</xrd:version>
         <wsdl:input>
            <soap:body use="literal"/>
            <soap:header message="tns:requestheader" part="client" use="literal"/>
            <soap:header message="tns:requestheader" part="service" use="literal"/>
            <soap:header message="tns:requestheader" part="userId" use="literal"/>
            <soap:header message="tns:requestheader" part="id" use="literal"/>
            <soap:header message="tns:requestheader" part="protocolVersion" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
            <soap:header message="tns:requestheader" part="client" use="literal"/>
            <soap:header message="tns:requestheader" part="service" use="literal"/>
            <soap:header message="tns:requestheader" part="userId" use="literal"/>
            <soap:header message="tns:requestheader" part="id" use="literal"/>
            <soap:header message="tns:requestheader" part="protocolVersion" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="producerPortService">
      <wsdl:port binding="tns:xroadBinding" name="xroadServicePort">
         <soap:address location="http://foo.bar.baz"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>