xtee55/servicemediator/src/test/resources/dummy-valid.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="dummy" targetNamespace="http://xroad-andmekogu.x-road.ee/producer" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xroad-andmekogu.x-road.ee/producer" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xrd="http://x-road.ee/xsd/x-road.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://xroad-andmekogu.x-road.ee/producer">
    <xsd:element name="service1Request" type="xsd:string"/><xsd:element name="service1Response" type="xsd:string"/><xsd:element name="service2Request" type="xsd:string"/><xsd:element name="service2Response" type="xsd:string"/><xsd:element name="service3Request" type="xsd:string"/><xsd:element name="service3Response" type="xsd:string"/></xsd:schema>
  </wsdl:types>
  <wsdl:message name="service1Response">
    <wsdl:part name="body" element="tns:service1Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="service2Response">
    <wsdl:part name="body" element="tns:service2Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="service3Response">
    <wsdl:part name="body" element="tns:service3Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="service1Request">
    <wsdl:part name="body" element="tns:service1Request">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="service3Request">
    <wsdl:part name="body" element="tns:service3Request">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="service2Request">
    <wsdl:part name="body" element="tns:service2Request">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="xroadServicePortType">
    <wsdl:operation name="foo">
      <wsdl:input message="tns:service1Request">
    </wsdl:input>
      <wsdl:output message="tns:service1Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bar">
      <wsdl:input message="tns:service2Request">
    </wsdl:input>
      <wsdl:output message="tns:service2Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="baz">
      <wsdl:input message="tns:service3Request">
    </wsdl:input>
      <wsdl:output message="tns:service3Response">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="xroadServiceBinding" type="tns:xroadServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="foo">
    <soap:operation soapAction="" style="document"/>
      <wsdl:input>
    <soap:body parts="body" use="literal"/>
      </wsdl:input>
      <wsdl:output>
    <soap:body parts="body" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bar">
    <soap:operation soapAction="" style="document"/>
      <wsdl:input>
    <soap:body parts="body" use="literal"/>
      </wsdl:input>
      <wsdl:output>
    <soap:body parts="body" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="baz">
    <soap:operation soapAction="" style="document"/>
      <wsdl:input>
    <soap:body parts="body" use="literal"/>
      </wsdl:input>
      <wsdl:output>
    <soap:body parts="body" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="xroad-andmekoguService">
    <wsdl:port name="xroadServicePort" binding="tns:xroadServiceBinding">
    <soap:address location="http://localhost:1234"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
