xtee55/servicemediator/src/test/resources/merged-expected.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions
  name="uusandmekogu"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  targetNamespace="http://uusandmekogu.x-road.ee/producer">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://uusandmekogu.x-road.ee/producer">
      <xsd:import namespace="http://x-road.ee/xsd/x-road.xsd" schemaLocation="http://x-road.ee/xsd/x-road.xsd"/>
      <xsd:element name="sdsbGetRandom" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="seed" type="xsd:decimal">
                    <xsd:annotation>
                      <xsd:appinfo>
                        <xrd:title xmlns:xrd="http://x-road.ee/xsd/x-road.xsd">Random input</xrd:title>
                      </xsd:appinfo>
                    </xsd:annotation>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="sdsbGetRandomResponse" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="response" type="xsd:decimal">
              <xsd:annotation>
                <xsd:appinfo>
                  <xrd:title xmlns:xrd="http://x-road.ee/xsd/x-road.xsd">Random response</xrd:title>
                </xsd:appinfo>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="sdsbBigSoap" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="content" type="xsd:string">
                    <xsd:annotation>
                      <xsd:appinfo>
                        <xrd:title xmlns:xrd="http://x-road.ee/xsd/x-road.xsd">Big SOAP content</xrd:title>
                      </xsd:appinfo>
                    </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="responseSize" type="xsd:integer">
                    <xsd:annotation>
                      <xsd:appinfo>
                        <xrd:title xmlns:xrd="http://x-road.ee/xsd/x-road.xsd">Size of the response to be returned</xrd:title>
                      </xsd:appinfo>
                    </xsd:annotation>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="sdsbBigSoapResponse" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="response" type="xsd:string">
              <xsd:annotation>
                <xsd:appinfo>
                  <xrd:title xmlns:xrd="http://x-road.ee/xsd/x-road.xsd">Size of content</xrd:title>
                </xsd:appinfo>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="standardheader">
    <wsdl:part xmlns:elemns="http://x-road.ee/xsd/x-road.xsd" name="id" element="elemns:id"/>
    <wsdl:part xmlns:elemns="http://x-road.ee/xsd/x-road.xsd" name="userId" element="elemns:userId"/>
    <wsdl:part xmlns:elemns="http://x-road.ee/xsd/x-road.xsd" name="service" element="elemns:service"/>
    <wsdl:part xmlns:elemns="http://x-road.ee/xsd/x-road.xsd" name="producer" element="elemns:producer"/>
    <wsdl:part xmlns:elemns="http://x-road.ee/xsd/x-road.xsd" name="consumer" element="elemns:consumer"/>
  </wsdl:message>
  <wsdl:message name="sdsbGetRandomResponse_0">
    <wsdl:part xmlns:elemns="http://uusandmekogu.x-road.ee/producer" name="body" element="elemns:sdsbGetRandomResponse"/>
  </wsdl:message>
  <wsdl:message name="sdsbGetRandom_0">
    <wsdl:part xmlns:elemns="http://uusandmekogu.x-road.ee/producer" name="body" element="elemns:sdsbGetRandom"/>
  </wsdl:message>
  <wsdl:message name="sdsbBigSoap_1">
    <wsdl:part xmlns:elemns="http://uusandmekogu.x-road.ee/producer" name="body" element="elemns:sdsbBigSoap"/>
  </wsdl:message>
  <wsdl:message name="sdsbBigSoapResponse_1">
    <wsdl:part xmlns:elemns="http://uusandmekogu.x-road.ee/producer" name="body" element="elemns:sdsbBigSoapResponse"/>
  </wsdl:message>

  <wsdl:portType name="sdsbPortType">
    <wsdl:operation name="sdsbGetRandom">
      <wsdl:documentation>
        <xrd:title xmlns:xrd="http://x-road.ee/xsd/x-road.xsd">Suvaline sisend document/literal stiilis</xrd:title>
        <xrd:notes xmlns:xrd="http://x-road.ee/xsd/x-road.xsd">Suvalisele sisendile tuleb ka suvaline vastus.</xrd:notes>
      </wsdl:documentation>
      <wsdl:input xmlns:inputns="http://uusandmekogu.x-road.ee/producer" message="inputns:sdsbGetRandom_0"/>
      <wsdl:output xmlns:outputns="http://uusandmekogu.x-road.ee/producer" message="outputns:sdsbGetRandomResponse_0"/>
    </wsdl:operation>
    <wsdl:operation name="sdsbBigSoap">
      <wsdl:documentation>
        <xrd:title xmlns:xrd="http://x-road.ee/xsd/x-road.xsd">Suure SOAP-ga päring document/literal stiilis</xrd:title>
        <xrd:notes xmlns:xrd="http://x-road.ee/xsd/x-road.xsd">Vastuseks tuleb SOAP sisu suurus.</xrd:notes>
      </wsdl:documentation>
      <wsdl:input xmlns:inputns="http://uusandmekogu.x-road.ee/producer" message="inputns:sdsbBigSoap_1"/>
      <wsdl:output xmlns:outputns="http://uusandmekogu.x-road.ee/producer" message="outputns:sdsbBigSoapResponse_1"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding xmlns:tns="http://uusandmekogu.x-road.ee/producer" name="sdsbBinding" type="tns:sdsbPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sdsbGetRandom">
      <soap:operation soapAction="" style="document"/>
      <xrd:version xmlns:xrd="http://x-road.ee/xsd/x-road.xsd">v1</xrd:version>
      <wsdl:input>
        <soap:body parts="body" use="literal"/>
        <soap:header message="tns:standardheader" part="consumer" use="literal"/>
        <soap:header message="tns:standardheader" part="producer" use="literal"/>
        <soap:header message="tns:standardheader" part="userId" use="literal"/>
        <soap:header message="tns:standardheader" part="id" use="literal"/>
        <soap:header message="tns:standardheader" part="service" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="body" use="literal"/>
        <soap:header message="tns:standardheader" part="consumer" use="literal"/>
        <soap:header message="tns:standardheader" part="producer" use="literal"/>
        <soap:header message="tns:standardheader" part="userId" use="literal"/>
        <soap:header message="tns:standardheader" part="id" use="literal"/>
        <soap:header message="tns:standardheader" part="service" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sdsbBigSoap">
      <soap:operation soapAction="" style="document"/>
      <xrd:version xmlns:xrd="http://x-road.ee/xsd/x-road.xsd">v1</xrd:version>
      <wsdl:input>
        <soap:body parts="body" use="literal"/>
        <soap:header message="tns:standardheader" part="consumer" use="literal"/>
        <soap:header message="tns:standardheader" part="producer" use="literal"/>
        <soap:header message="tns:standardheader" part="userId" use="literal"/>
        <soap:header message="tns:standardheader" part="id" use="literal"/>
        <soap:header message="tns:standardheader" part="service" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="body" use="literal"/>
        <soap:header message="tns:standardheader" part="consumer" use="literal"/>
        <soap:header message="tns:standardheader" part="producer" use="literal"/>
        <soap:header message="tns:standardheader" part="userId" use="literal"/>
        <soap:header message="tns:standardheader" part="id" use="literal"/>
        <soap:header message="tns:standardheader" part="service" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="statistikaametService">
    <wsdl:port xmlns:bindingns="http://uusandmekogu.x-road.ee/producer" binding="bindingns:sdsbBinding" name="sdsbServicePort">
      <soap:address location="http://SECUREPROXY/cgi-bin/consumer_proxy"/>
      <xrd:address producer="uusandmekogu" xmlns:xrd="http://x-road.ee/xsd/x-road.xsd"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>