xtee55/servicemediator/src/test/resources/xrddl-merged-simple.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xrd="http://x-road.ee/xsd/x-road.xsd"
    xmlns:tns="http://xrddl-andmekogu-merged.x-road.ee/producer"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    name="xrddlGetRandom"
    targetNamespace="http://xrddl-andmekogu-merged.x-road.ee/producer">
  <wsdl:types>
    <xsd:schema targetNamespace="http://xrddl-andmekogu-merged.x-road.ee/producer">
      <xsd:import namespace="http://x-road.ee/xsd/x-road.xsd" schemaLocation="http://x-road.ee/xsd/x-road.xsd"/>
      <xsd:element name="xrddlGetRandom_1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:complexType>
          <xsd:sequence>
           <xsd:element name="request">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="seed" type="xsd:decimal">
                    <xsd:annotation>
                      <xsd:appinfo>
                        <xrd:title xmlns:xrd="http://x-road.ee/xsd/x-road.xsd">Random input</xrd:title>
                      </xsd:appinfo>
                    </xsd:annotation>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="xrddlGetRandomResponse_1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="response" type="xsd:decimal">
              <xsd:annotation>
                <xsd:appinfo>
                  <xrd:title xmlns:xrd="http://x-road.ee/xsd/x-road.xsd">Random response</xrd:title>
                </xsd:appinfo>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="xrddlSmallAttachment_2" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:complexType>
          <xsd:sequence>
           <xsd:element name="request" type="xsd:string">
              <xsd:annotation>
                <xsd:appinfo>
                  <xrd:title xmlns:xrd="http://x-road.ee/xsd/x-road.xsd">Practically empty input</xrd:title>
                </xsd:appinfo>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="xrddlSmallAttachmentResponse_2" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="response" type="xsd:string">
              <xsd:annotation>
                <xsd:appinfo>
                  <xrd:title xmlns:xrd="http://x-road.ee/xsd/x-road.xsd">Empty response</xrd:title>
                </xsd:appinfo>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="standardheader">
    <wsdl:part name="consumer" element="xrd:consumer"/>
    <wsdl:part name="producer" element="xrd:producer"/>
    <wsdl:part name="userId" element="xrd:userId"/>
    <wsdl:part name="service" element="xrd:service"/>
    <wsdl:part name="id" element="xrd:id"/>
  </wsdl:message>

  <wsdl:message name="xrddlGetRandom_1">
    <wsdl:part name="body"  element="tns:xrddlGetRandom_1" />
  </wsdl:message>
  <wsdl:message name="xrddlGetRandomResponse_1">
    <wsdl:part name="body"  element="tns:xrddlGetRandomResponse_1" />
  </wsdl:message>
  <wsdl:message name="xrddlSmallAttachment_2">
    <wsdl:part name="body"  element="tns:xrddlSmallAttachment_2" />
  </wsdl:message>
  <wsdl:message name="xrddlSmallAttachmentResponse_2">
    <wsdl:part name="body"  element="tns:xrddlSmallAttachmentResponse_2" />
  </wsdl:message>

  <wsdl:portType name="xrddlGetRandomPort">
    <wsdl:operation name="xrddlGetRandom">
      <wsdl:documentation>
        <xrd:title>Suvaline sisend document/literal stiilis</xrd:title>
        <xrd:notes>Suvalisele sisendile tuleb ka suvaline vastus.</xrd:notes>
      </wsdl:documentation>
      <wsdl:input message="tns:xrddlGetRandom_1"/>
      <wsdl:output message="tns:xrddlGetRandomResponse_1"/>
    </wsdl:operation>
    <wsdl:operation name="xrddlSmallAttachment">
      <wsdl:documentation>
        <xrd:title>Väikese manusega päring document/literal stiilis</xrd:title>
        <xrd:notes>Vastuseks tuleb manuse suurus.</xrd:notes>
      </wsdl:documentation>
      <wsdl:input message="tns:xrddlSmallAttachment_2"/>
      <wsdl:output message="tns:xrddlSmallAttachmentResponse_2"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="xrddlGetRandomSOAP" type="tns:xrddlGetRandomPort">
    <soap:binding style="document"
      transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="xrddlGetRandom">
      <soap:operation soapAction="" style="document"/>
      <xrd:version>v1</xrd:version>
      <wsdl:input>
        <soap:body parts="body" use="literal"/>
        <soap:header message="tns:standardheader" part="consumer" use="literal"/>
        <soap:header message="tns:standardheader" part="producer" use="literal"/>
        <soap:header message="tns:standardheader" part="userId" use="literal"/>
        <soap:header message="tns:standardheader" part="id" use="literal"/>
        <soap:header message="tns:standardheader" part="service" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="body" use="literal"/>
        <soap:header message="tns:standardheader" part="consumer" use="literal"/>
        <soap:header message="tns:standardheader" part="producer" use="literal"/>
        <soap:header message="tns:standardheader" part="userId" use="literal"/>
        <soap:header message="tns:standardheader" part="id" use="literal"/>
        <soap:header message="tns:standardheader" part="service" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="xrddlSmallAttachment">
      <soap:operation soapAction="" style="document"/>
      <xrd:version>v1</xrd:version>
      <wsdl:input>
        <soap:body parts="body" use="literal"/>
        <soap:header message="tns:standardheader" part="consumer" use="literal"/>
        <soap:header message="tns:standardheader" part="producer" use="literal"/>
        <soap:header message="tns:standardheader" part="userId" use="literal"/>
        <soap:header message="tns:standardheader" part="id" use="literal"/>
        <soap:header message="tns:standardheader" part="service" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="body" use="literal"/>
        <soap:header message="tns:standardheader" part="consumer" use="literal"/>
        <soap:header message="tns:standardheader" part="producer" use="literal"/>
        <soap:header message="tns:standardheader" part="userId" use="literal"/>
        <soap:header message="tns:standardheader" part="id" use="literal"/>
        <soap:header message="tns:standardheader" part="service" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="xrddl-andmekogu-mergedService">
    <wsdl:port binding="tns:xrddlGetRandomSOAP" name="xrddlGetRandomSOAP">
      <soap:address location="http://iks2-testhost:8080/testservice-0.1/xrddl"/>
      <xrd:address producer="xrddl-andmekogu-merged"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
