xtee55/servicemediator/src/test/resources/xrdrpc.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="xrdrpcGetRandom"
  targetNamespace="http://producers.xrdrpc-andmekogu.xtee.riik.ee/producer/xrdrpc-andmekogu"
  xmlns:tns="http://producers.xrdrpc-andmekogu.xtee.riik.ee/producer/xrdrpc-andmekogu"
  xmlns:xtee="http://x-tee.riik.ee/xsd/xtee.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <wsdl:types>
    <xsd:schema
      targetNamespace="http://producers.xrdrpc-andmekogu.xtee.riik.ee/producer/xrdrpc-andmekogu"
      xmlns="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://x-tee.riik.ee/xsd/xtee.xsd"
        schemaLocation="http://www.riik.ee/schemas/xtee/xtee.xsd" />
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"
        schemaLocation="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:complexType name="xrdrpcGetRandom_paring">
        <xsd:sequence>
          <xsd:element name="seeme" type="xsd:integer">
            <xsd:annotation>
              <xsd:appinfo>
                <xtee:title>Suvaline sisend</xtee:title>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="xrdrpcGetRandom_vastus">
        <xsd:restriction base="xsd:string">
          <xsd:annotation>
            <xsd:appinfo>
              <xtee:title>Suvaline vastus</xtee:title>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="standardpais">
    <wsdl:part element="xtee:asutus" name="asutus" />
    <wsdl:part element="xtee:andmekogu" name="andmekogu" />
    <wsdl:part element="xtee:isikukood" name="isikukood" />
    <wsdl:part element="xtee:id" name="id" />
    <wsdl:part element="xtee:nimi" name="nimi" />
    <wsdl:part element="xtee:toimik" name="toimik" />
  </wsdl:message>

  <wsdl:message name="xrdrpcGetRandom">
    <wsdl:part name="keha" type="tns:xrdrpcGetRandom_paring" />
  </wsdl:message>

  <wsdl:message name="xrdrpcGetRandomResponse">
    <wsdl:part name="paring" type="tns:xrdrpcGetRandom_paring" />
    <wsdl:part name="keha" type="tns:xrdrpcGetRandom_vastus" />
  </wsdl:message>

  <wsdl:portType name="xrdrpcGetRandom">
    <wsdl:operation name="xrdrpcGetRandom">
      <wsdl:documentation>
        <xtee:title>Suvaline sisend rpc/encoded stiilis</xtee:title>
        <xtee:notes>Suvalisele sisendile tuleb ka suvaline vastus.</xtee:notes>
      </wsdl:documentation>
      <wsdl:input message="tns:xrdrpcGetRandom" />
      <wsdl:output message="tns:xrdrpcGetRandomResponse" />
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="xrdrpcGetRandomSOAP" type="tns:xrdrpcGetRandom">
    <soap:binding style="rpc"
      transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="xrdrpcGetRandom">
      <xtee:version>v1</xtee:version>
      <wsdl:input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
          namespace="http://producers.xrdrpc-andmekogu.xtee.riik.ee/producer/xrdrpc-andmekogu"
          use="encoded"></soap:body>
        <soap:header message="tns:standardpais" part="asutus"
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
          namespace="http://producers.xrdrpc-andmekogu.xtee.riik.ee/producer/xrdrpc-andmekogu"
          use="encoded">
        </soap:header>
        <soap:header message="tns:standardpais" part="andmekogu"
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
          namespace="http://producers.xrdrpc-andmekogu.xtee.riik.ee/producer/xrdrpc-andmekogu"
          use="encoded">
        </soap:header>
        <soap:header message="tns:standardpais" part="isikukood"
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
          namespace="http://producers.xrdrpc-andmekogu.xtee.riik.ee/producer/xrdrpc-andmekogu"
          use="encoded">
        </soap:header>
        <soap:header message="tns:standardpais" part="id"
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
          namespace="http://producers.xrdrpc-andmekogu.xtee.riik.ee/producer/xrdrpc-andmekogu"
          use="encoded">
        </soap:header>
        <soap:header message="tns:standardpais" part="nimi"
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
          namespace="http://producers.xrdrpc-andmekogu.xtee.riik.ee/producer/xrdrpc-andmekogu"
          use="encoded">
        </soap:header>
        <soap:header message="tns:standardpais" part="toimik"
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
          namespace="http://producers.xrdrpc-andmekogu.xtee.riik.ee/producer/xrdrpc-andmekogu"
          use="encoded">
        </soap:header>
      </wsdl:input>
      <wsdl:output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
          namespace="http://producers.xrdrpc-andmekogu.xtee.riik.ee/producer/xrdrpc-andmekogu"
          use="encoded"></soap:body>
        <soap:header message="tns:standardpais" part="asutus"
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
          namespace="http://producers.xrdrpc-andmekogu.xtee.riik.ee/producer/xrdrpc-andmekogu"
          use="encoded">
        </soap:header>
        <soap:header message="tns:standardpais" part="andmekogu"
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
          namespace="http://producers.xrdrpc-andmekogu.xtee.riik.ee/producer/xrdrpc-andmekogu"
          use="encoded">
        </soap:header>
        <soap:header message="tns:standardpais" part="isikukood"
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
          namespace="http://producers.xrdrpc-andmekogu.xtee.riik.ee/producer/xrdrpc-andmekogu"
          use="encoded">
        </soap:header>
        <soap:header message="tns:standardpais" part="id"
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
          namespace="http://producers.xrdrpc-andmekogu.xtee.riik.ee/producer/xrdrpc-andmekogu"
          use="encoded">
        </soap:header>
        <soap:header message="tns:standardpais" part="nimi"
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
          namespace="http://producers.xrdrpc-andmekogu.xtee.riik.ee/producer/xrdrpc-andmekogu"
          use="encoded">
        </soap:header>
        <soap:header message="tns:standardpais" part="toimik"
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
          namespace="http://producers.xrdrpc-andmekogu.xtee.riik.ee/producer/xrdrpc-andmekogu"
          use="encoded">
        </soap:header>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="xrdrpc-andmekoguService">
    <wsdl:port binding="tns:xrdrpcGetRandomSOAP" name="xrdrpcGetRandomSOAP">
      <soap:address location="http://SECUREPROXY/cgi-bin/consumer_proxy"/>
      <xtee:address producer="xrdrpc-andmekogu" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
