src/lib/globalconf-core/src/main/resources/globalconf/v6/shared-parameters.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:tns="http://x-road.eu/xsd/xroad.xsd"
        xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:jxb="https://jakarta.ee/xml/ns/jaxb" jxb:version="3.0"
        targetNamespace="http://x-road.eu/xsd/xroad.xsd">

    <include schemaLocation="../common/shared-parameters.xsd"/>

    <redefine schemaLocation="../common/shared-parameters.xsd">
        <complexType name="SubsystemType">
            <complexContent>
                <extension base="tns:SubsystemType">
                    <sequence>
                        <element name="subsystemName" type="string" minOccurs="0">
                            <annotation>
                                <documentation>
                                    Full, official name of the subsystem, used in user interfaces.
                                </documentation>
                            </annotation>
                        </element>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>

        <complexType name="SecurityServerType">
            <complexContent>
                <extension base="tns:SecurityServerType">
                    <sequence>
                        <element name="inMaintenanceMode" type="tns:MaintenanceMode" minOccurs="0">
                            <annotation>
                                <documentation>
                                    If present marks security server as in maintenance mode and not available
                                </documentation>
                            </annotation>
                        </element>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>

        <complexType name="OcspInfoType">
            <complexContent>
                <extension base="tns:OcspInfoType">
                    <sequence>
                        <element name="costType" type="tns:CostType" minOccurs="0">
                            <annotation>
                                <documentation>
                                    Is this OCSP service free or paid
                                </documentation>
                            </annotation>
                        </element>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>

        <complexType name="ApprovedTSAType">
            <complexContent>
                <extension base="tns:ApprovedTSAType">
                    <sequence>
                        <element name="costType" type="tns:CostType" minOccurs="0">
                            <annotation>
                                <documentation>
                                    Is this TSA service free or paid
                                </documentation>
                            </annotation>
                        </element>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </redefine>

    <element name="conf" type="tns:SharedParametersTypeV6">
        <annotation>
            <documentation>
                Set of configuration parameters that are used by members of this X-Road instance and other federated
                instances.
            </documentation>
        </annotation>
    </element>

    <complexType name="MaintenanceMode">
        <sequence>
            <element name="message" type="string" minOccurs="0">
                <annotation>
                    <documentation>
                        The optional message that is shown to consumers when the server is in maintenance mode.
                    </documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <complexType name="ConfigurationSourceType">
        <sequence>
            <element name="address" type="string">
                <annotation>
                    <documentation>
                        The address of the central server which provides the signed configuration.
                    </documentation>
                </annotation>
            </element>
            <element name="internalVerificationCert" type="base64Binary" minOccurs="0" maxOccurs="unbounded">
                <annotation>
                    <documentation>
                        Public key that can be used to verify the signed configuration, presented as X.509 certificate.
                    </documentation>
                </annotation>
            </element>
            <element name="externalVerificationCert" type="base64Binary" minOccurs="0" maxOccurs="unbounded">
                <annotation>
                    <documentation>
                        Public key that can be used to verify the signed configuration, presented as X.509 certificate.
                    </documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <complexType name="SharedParametersTypeV6">
        <sequence>
            <element name="instanceIdentifier" type="string">
                <annotation>
                    <documentation>
                        Code that uniquely identifies this instance of the X-Road system within a federation of
                        systems.
                    </documentation>
                </annotation>
            </element>
            <element name="source" type="tns:ConfigurationSourceType" maxOccurs="unbounded">
                <annotation>
                    <documentation>
                        Describes one configuration source.
                    </documentation>
                </annotation>
            </element>
            <element name="approvedCA" type="tns:ApprovedCATypeV3" minOccurs="0" maxOccurs="unbounded">
                <annotation>
                    <documentation>
                        Certification authority approved by the Governing Authority of providing certification services
                        for members of this X-Road instance.
                    </documentation>
                </annotation>
            </element>
            <element name="approvedTSA" type="tns:ApprovedTSAType" minOccurs="0" maxOccurs="unbounded">
                <annotation>
                    <documentation>
                        Time-stamping authority approved by the Governing Authority of providing time-stamping services
                        for members of this X-Road instance.
                    </documentation>
                </annotation>
            </element>
            <element name="member" type="tns:MemberType" minOccurs="0" maxOccurs="unbounded">
                <annotation>
                    <documentation>
                        Registered member of this X-Road system.
                    </documentation>
                </annotation>
            </element>
            <element name="securityServer" type="tns:SecurityServerType" minOccurs="0" maxOccurs="unbounded">
                <annotation>
                    <documentation>
                        Security server registered in this X-Road system.
                    </documentation>
                </annotation>
            </element>
            <element name="globalGroup" type="tns:GlobalGroupType" minOccurs="0" maxOccurs="unbounded">
                <annotation>
                    <documentation>
                        Group of access rights subjects, defined by the Governing Authority. An access rights subject
                        can be either a member or a subsystem.
                    </documentation>
                </annotation>
            </element>
            <element name="centralService" type="tns:CentralServiceType" minOccurs="0" maxOccurs="unbounded">
                <annotation>
                    <documentation>
                        Central service, defined by the Governing Authority.
                    </documentation>
                </annotation>
            </element>
            <element name="globalSettings" type="tns:GlobalSettingsType">
                <annotation>
                    <documentation>
                        Classifiers and security policy settings used in this X-Road instance.
                    </documentation>
                </annotation>
            </element>
            <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <complexType name="ApprovedCATypeV3">
        <sequence>
            <element name="name" type="string">
                <annotation>
                    <documentation>
                        Name of the CA, used in user interfaces.
                    </documentation>
                </annotation>
            </element>
            <element name="authenticationOnly" type="boolean" minOccurs="0">
                <annotation>
                    <documentation>
                        If present and true, indicates that certificates issued by this CA can only be used for TLS
                        authentication and not for creating and verifying digital signatures/seals.
                    </documentation>
                </annotation>
            </element>
            <element name="topCA" type="tns:CaInfoType">
                <annotation>
                    <documentation>
                        Topmost (usually self-signed) CA that is used as trust anchor.
                    </documentation>
                </annotation>
            </element>
            <element name="intermediateCA" type="tns:CaInfoType" minOccurs="0" maxOccurs="unbounded">
                <annotation>
                    <documentation>
                        Intermediate CA. This information can be used for certificate path building and finding OCSP
                        responders.
                    </documentation>
                </annotation>
            </element>
            <element name="certificateProfileInfo" type="string">
                <annotation>
                    <documentation>
                        Fully qualified class name implementing the
                        ee.ria.xroad.common.certificateprofile.CertificateProfileInfoProvider interface.
                    </documentation>
                </annotation>
            </element>
            <element name="acmeServer" type="tns:AcmeServer" minOccurs="0">
                <annotation>
                    <documentation>
                        ACME specific certification services settings.
                    </documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <complexType name="AcmeServer">
        <sequence>
            <element name="directoryURL" type="string" minOccurs="1">
                <annotation>
                    <documentation>
                        ACME directory URL that is used as an entrypoint to communicate with the ACME server. The response of this
                        endpoint will return all the other necessary API endpoints for making ACME operations.
                        This is used by the Security Server's code internally to order and receive certificates from the CA
                        automatically.
                    </documentation>
                </annotation>
            </element>
            <element name="ipAddress" type="string" minOccurs="0">
                <annotation>
                    <documentation>
                        ACME server IP address or multiple addresses separated by comma, that Security Server admins can
                        use to whitelist the ACME Server in their firewall rules, so that the ACME server's HTTP challenge
                        wouldn't be blocked.
                    </documentation>
                </annotation>
            </element>
            <element name="authenticationCertificateProfileId" type="string" minOccurs="0">
                <annotation>
                    <documentation>
                        Profile ID used for some ACME servers to let them know the certificate usage type when ordering
                        an authentication certificate.
                    </documentation>
                </annotation>
            </element>
            <element name="signingCertificateProfileId" type="string" minOccurs="0">
                <annotation>
                    <documentation>
                        Profile ID used for some ACME servers to let them know the certificate usage type when ordering
                        a signing certificate.
                    </documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <simpleType name="CostType">
        <annotation>
            <documentation>Describes whether the service is free or paid</documentation>
            <appinfo>
                <jxb:javaType name="org.niis.xroad.globalconf.model.CostType" parseMethod="valueOf" printMethod="name"/>
            </appinfo>
        </annotation>
        <restriction base="string">
            <enumeration value="FREE"/>
            <enumeration value="PAID"/>
            <enumeration value="UNDEFINED"/>
        </restriction>
    </simpleType>
</schema>
