xtee6/proxy-ui/src/test/resources/valid.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xrd="http://x-road.ee/xsd/x-road.xsd"
    xmlns:tns="http://sdsb-andmekogu.x-road.ee/producer"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    name="sdsbGetRandom"
    targetNamespace="http://sdsb-andmekogu.x-road.ee/producer">
  <wsdl:types>
    <xsd:schema targetNamespace="http://sdsb-andmekogu.x-road.ee/producer">
      <xsd:import namespace="http://x-road.ee/xsd/x-road.xsd" schemaLocation="http://x-road.ee/xsd/x-road.xsd"/>
      <xsd:element name="sdsbGetRandom">
        <xsd:complexType>
          <xsd:sequence>
           <xsd:element name="request">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="in" type="xsd:string">
                    <xsd:annotation>
                      <xsd:appinfo>
                        <xrd:title>Random input</xrd:title>
                      </xsd:appinfo>
                    </xsd:annotation>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="sdsbGetRandomResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="response" type="xsd:string">
              <xsd:annotation>
                <xsd:appinfo>
                  <xrd:title>Random response</xrd:title>
                </xsd:appinfo>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="sdsbSmallAttachment">
        <xsd:complexType>
          <xsd:sequence>
           <xsd:element name="request" type="xsd:string">
              <xsd:annotation>
                <xsd:appinfo>
                  <xrd:title>Practically empty input</xrd:title>
                </xsd:appinfo>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="sdsbSmallAttachmentResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="response" type="xsd:string">
              <xsd:annotation>
                <xsd:appinfo>
                  <xrd:title>Empty response</xrd:title>
                </xsd:appinfo>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="sdsbBigAttachment">
        <xsd:complexType>
          <xsd:sequence>
           <xsd:element name="request" type="xsd:string">
              <xsd:annotation>
                <xsd:appinfo>
                  <xrd:title>Practically empty input</xrd:title>
                </xsd:appinfo>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="sdsbBigAttachmentResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="response" type="xsd:string">
              <xsd:annotation>
                <xsd:appinfo>
                  <xrd:title>Empty response</xrd:title>
                </xsd:appinfo>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="standardheader">
    <wsdl:part name="consumer" element="xrd:consumer"/>
    <wsdl:part name="producer" element="xrd:producer"/>
    <wsdl:part name="userId" element="xrd:userId"/>
    <wsdl:part name="service" element="xrd:service"/>
    <wsdl:part name="id" element="xrd:id"/>
  </wsdl:message>

  <wsdl:message name="sdsbGetRandom">
    <wsdl:part name="body"  element="tns:sdsbGetRandom" />
  </wsdl:message>
  <wsdl:message name="sdsbGetRandomResponse">
    <wsdl:part name="body"  element="tns:sdsbGetRandomResponse" />
  </wsdl:message>
  <wsdl:message name="sdsbSmallAttachment">
    <wsdl:part name="body"  element="tns:sdsbSmallAttachment" />
  </wsdl:message>
  <wsdl:message name="sdsbSmallAttachmentResponse">
    <wsdl:part name="body"  element="tns:sdsbSmallAttachmentResponse" />
  </wsdl:message>
  <wsdl:message name="sdsbBigAttachment">
    <wsdl:part name="body"  element="tns:sdsbBigAttachment" />
  </wsdl:message>
  <wsdl:message name="sdsbBigAttachmentResponse">
    <wsdl:part name="body"  element="tns:sdsbBigAttachmentResponse" />
  </wsdl:message>

  <wsdl:portType name="sdsbGetRandom">
    <wsdl:operation name="sdsbGetRandom">
      <wsdl:documentation>
        <xrd:title>Suvaline sisend document/literal stiilis</xrd:title>
        <xrd:notes>Suvalisele sisendile tuleb ka suvaline vastus.</xrd:notes>
      </wsdl:documentation>
      <wsdl:input message="tns:sdsbGetRandom"/>
      <wsdl:output message="tns:sdsbGetRandomResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:portType name="sdsbSmallAttachment">
    <wsdl:operation name="sdsbSmallAttachment">
      <wsdl:documentation>
        <xrd:title>Väikese manusega päring document/literal stiilis</xrd:title>
        <xrd:notes>Vastuseks tuleb manuse suurus.</xrd:notes>
      </wsdl:documentation>
      <wsdl:input message="tns:sdsbSmallAttachment"/>
      <wsdl:output message="tns:sdsbSmallAttachmentResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:portType name="sdsbBigAttachment">
    <wsdl:operation name="sdsbBigAttachment">
      <wsdl:documentation>
        <xrd:title>Suure manusega päring document/literal stiilis</xrd:title>
        <xrd:notes>Vastuseks tuleb manuse suurus.</xrd:notes>
      </wsdl:documentation>
      <wsdl:input message="tns:sdsbBigAttachment"/>
      <wsdl:output message="tns:sdsbBigAttachmentResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="sdsbGetRandomSOAP" type="tns:sdsbGetRandom">
    <soap:binding style="document"
      transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sdsbGetRandom">
      <soap:operation soapAction="" style="document"/>
      <xrd:version>v1</xrd:version>
      <wsdl:input>
        <soap:body parts="body" use="literal"/>
        <soap:header message="tns:standardheader" part="consumer" use="literal"/>
        <soap:header message="tns:standardheader" part="producer" use="literal"/>
        <soap:header message="tns:standardheader" part="userId" use="literal"/>
        <soap:header message="tns:standardheader" part="id" use="literal"/>
        <soap:header message="tns:standardheader" part="service" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="body" use="literal"/>
        <soap:header message="tns:standardheader" part="consumer" use="literal"/>
        <soap:header message="tns:standardheader" part="producer" use="literal"/>
        <soap:header message="tns:standardheader" part="userId" use="literal"/>
        <soap:header message="tns:standardheader" part="id" use="literal"/>
        <soap:header message="tns:standardheader" part="service" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:binding name="sdsbSmallAttachmentSOAP" type="tns:sdsbSmallAttachment">
    <soap:binding style="document"
      transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sdsbSmallAttachment">
      <soap:operation soapAction="" style="document"/>
      <xrd:version>v1</xrd:version>
      <wsdl:input>
        <soap:body parts="body" use="literal"/>
        <soap:header message="tns:standardheader" part="consumer" use="literal"/>
        <soap:header message="tns:standardheader" part="producer" use="literal"/>
        <soap:header message="tns:standardheader" part="userId" use="literal"/>
        <soap:header message="tns:standardheader" part="id" use="literal"/>
        <soap:header message="tns:standardheader" part="service" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="body" use="literal"/>
        <soap:header message="tns:standardheader" part="consumer" use="literal"/>
        <soap:header message="tns:standardheader" part="producer" use="literal"/>
        <soap:header message="tns:standardheader" part="userId" use="literal"/>
        <soap:header message="tns:standardheader" part="id" use="literal"/>
        <soap:header message="tns:standardheader" part="service" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:binding name="sdsbBigAttachmentSOAP" type="tns:sdsbBigAttachment">
    <soap:binding style="document"
      transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sdsbBigAttachment">
      <soap:operation soapAction="" style="document"/>
      <xrd:version>v1</xrd:version>
      <wsdl:input>
        <soap:body parts="body" use="literal"/>
        <soap:header message="tns:standardheader" part="consumer" use="literal"/>
        <soap:header message="tns:standardheader" part="producer" use="literal"/>
        <soap:header message="tns:standardheader" part="userId" use="literal"/>
        <soap:header message="tns:standardheader" part="id" use="literal"/>
        <soap:header message="tns:standardheader" part="service" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="body" use="literal"/>
        <soap:header message="tns:standardheader" part="consumer" use="literal"/>
        <soap:header message="tns:standardheader" part="producer" use="literal"/>
        <soap:header message="tns:standardheader" part="userId" use="literal"/>
        <soap:header message="tns:standardheader" part="id" use="literal"/>
        <soap:header message="tns:standardheader" part="service" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="sdsb-andmekoguService">
    <wsdl:port binding="tns:sdsbGetRandomSOAP" name="sdsbGetRandomSOAP">
      <soap:address location="http://iks2-testhost:8080/testservice-0.1/sdsb"/>
      <xrd:address producer="sdsb-andmekogu"/>
    </wsdl:port>
    <wsdl:port binding="tns:sdsbSmallAttachmentSOAP" name="sdsbSmallAttachmentSOAP">
      <soap:address location="http://iks2-testhost:8080/testservice-0.1/sdsb"/>
      <xrd:address producer="sdsb-andmekogu"/>
    </wsdl:port>
    <wsdl:port binding="tns:sdsbBigAttachmentSOAP" name="sdsbBigAttachmentSOAP">
      <soap:address location="http://iks2-testhost:8080/testservice-0.1/sdsb"/>
      <xrd:address producer="sdsb-andmekogu"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
