src/common/common-domain/src/main/resources/identifiers-v5-new.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Demo XSD for X-Road Identifiers - New (Protocol 5.0)
    Uses NEW terminology: participantClass, participantCode, dataspaceInstance, connectorCode
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:id="http://x-road.eu/xsd/identifiers-v5"
           xmlns:jxb="https://jakarta.ee/xml/ns/jaxb"
           targetNamespace="http://x-road.eu/xsd/identifiers-v5"
           elementFormDefault="qualified"
           jxb:version="3.0">

    <xs:annotation>
        <xs:appinfo>
            <jxb:schemaBindings>
                <jxb:package name="ee.ria.xroad.common.identifier.v5"/>
            </jxb:schemaBindings>
        </xs:appinfo>
    </xs:annotation>

    <!-- Element definitions with NEW terminology -->
    <xs:element name="dataspaceInstance" type="xs:string"/>
    <xs:element name="participantClass" type="xs:string"/>
    <xs:element name="participantCode" type="xs:string"/>
    <xs:element name="connectorCode" type="xs:string"/>
    <xs:element name="subsystemCode" type="xs:string"/>
    <xs:element name="groupCode" type="xs:string"/>
    <xs:element name="serviceCode" type="xs:string"/>
    <xs:element name="serviceVersion" type="xs:string"/>

    <!-- Object type enumeration with NEW terminology -->
    <xs:simpleType name="XRoadObjectType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PARTICIPANT"/>
            <xs:enumeration value="SUBSYSTEM"/>
            <xs:enumeration value="CONNECTOR"/>
            <xs:enumeration value="GLOBALGROUP"/>
            <xs:enumeration value="LOCALGROUP"/>
            <xs:enumeration value="SERVICE"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:attribute name="objectType" type="id:XRoadObjectType"/>

    <!-- Base identifier type with NEW terminology -->
    <xs:complexType name="XRoadIdentifierType">
        <xs:sequence>
            <xs:element ref="id:dataspaceInstance" minOccurs="0"/>
            <xs:element ref="id:participantClass" minOccurs="0"/>
            <xs:element ref="id:participantCode" minOccurs="0"/>
            <xs:element ref="id:subsystemCode" minOccurs="0"/>
            <xs:element ref="id:groupCode" minOccurs="0"/>
            <xs:element ref="id:serviceCode" minOccurs="0"/>
            <xs:element ref="id:serviceVersion" minOccurs="0"/>
            <xs:element ref="id:connectorCode" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute ref="id:objectType" use="required"/>
    </xs:complexType>

    <!-- Participant identifier -->
    <xs:complexType name="XRoadClientIdentifierType">
        <xs:complexContent>
            <xs:extension base="id:XRoadIdentifierType"/>
        </xs:complexContent>
    </xs:complexType>

    <!-- Connector identifier -->
    <xs:complexType name="XRoadSecurityServerIdentifierType">
        <xs:complexContent>
            <xs:extension base="id:XRoadIdentifierType"/>
        </xs:complexContent>
    </xs:complexType>

</xs:schema>
